extends layout

block content
	.container
		br
		.row
			.col-md-2
			.col-md-8
				.page-header
					h2 Servicio de Extensión Agrícola 
						small Página del Administrador
			.col-md-2

		.jumbotron
			.row
				.col-md-4
					button#btn_crear_cuestionario(class='btn btn-lg btn-success btn-block', type='button') Crear Cuestionario
				.col-md-4
					button#btn_manejar_cuestionarios(class='btn btn-lg btn-success btn-block', type='button') Manejar Cuestionarios
				.col-md-4
					button#btn_tomar_cuestionario(class='btn btn-lg btn-success btn-block', type='button') Tomar Cuestionario
			br
			.row
				.col-md-4
					button#btn_manejar_ganaderos(class='btn btn-lg btn-success btn-block', type='button') Manejar Ganaderos
				.col-md-4
					button#btn_manejar_usuarios(class='btn btn-lg btn-success btn-block', type='button') Manejar Usuarios
				.col-md-4
					button#btn_manejar_localizaciones(class='btn btn-lg btn-success btn-block', type='button') Manejar Localizaciones
			br
			.row
				.col-md-4
					button#btn_manejar_dispositivos(class='btn btn-lg btn-success btn-block', type='button') Manejar Dispositivos
				.col-md-4
					button#btn_manejar_reportes(class='btn btn-lg btn-success btn-block', type='button') Manejar Reportes
				.col-md-4
					button#btn_manejar_citas(class='btn btn-lg btn-success btn-block', type='button') Manejar Citas Pendientes
			br
			.row
				.col-md-4
					button#btn_manejar_categorias(class='btn btn-lg btn-success btn-block', type='button') Manejar Categorias

		.row
			.col-md-4
			.col-md-4
				button#btn_logout(class='btn btn-lg btn-primary btn-block', type='button') Terminar Sesión
			.col-md-4

	//	Latest compiled and minified JavaScript
	script(src='//code.jquery.com/jquery-1.11.2.min.js')
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
	script(src='/javascripts/admin.js')
	script(src='/javascripts/helpers.js')
