extends layout

block content
	.container
		br
		.row
			.col-md-2
			.col-md-8
				.page-header
					h2 Servicio de Extensión Agrícola 
						small 
							| Administrador 
							= username
			.col-md-2

		.row
			.col-md-1
			.col-md-10
				.jumbotron
					.row
						.col-md-12
							p(class="lead")
								| Manejar Cuestionarios
					.row
						.col-md-4
							button#btn_crear_cuestionario(class='btn btn-lg btn-success btn-block', type='button') Crear Cuestionario
						.col-md-4
							button#btn_manejar_cuestionarios(class='btn btn-lg btn-success btn-block', type='button') Editar ó Borrar Cuestionarios
						.col-md-4
							button#btn_tomar_cuestionario(class='btn btn-lg btn-success btn-block', type='button') Tomar Cuestionario
					br
					br
					br
					.row
						.col-md-12
							p(class="lead")
								| Manejar Usuarios y Localizaciónes
					.row
						.col-md-4
							button#btn_manejar_usuarios(class='btn btn-lg btn-success btn-block', type='button') Usuarios
						.col-md-4
							button#btn_manejar_localizaciones(class='btn btn-lg btn-success btn-block', type='button') Localizaciones
						.col-md-4
							button#btn_manejar_categorias(class='btn btn-lg btn-success btn-block', type='button') Categorias ó Especialidades
					br
					br
					.row
						.col-md-12
							p(class="lead")
								| Manejar Reportes y Citas
					.row
						.col-md-6
							button#btn_manejar_reportes(class='btn btn-lg btn-success btn-block', type='button') Reportes
						.col-md-6
							button#btn_manejar_citas(class='btn btn-lg btn-success btn-block', type='button') Citas
					br
					br
					.row
						.col-md-12
							p(class="lead")
								| Manejar Dispositivos y Ganaderos
					.row
						.col-md-6
							button#btn_manejar_dispositivos(class='btn btn-lg btn-success btn-block', type='button') Dispositivos
						.col-md-6
							button#btn_manejar_ganaderos(class='btn btn-lg btn-success btn-block', type='button') Ganaderos

		.row
			.col-md-4
			.col-md-4
				button#btn_logout(class='btn btn-lg btn-primary btn-block', type='button') Terminar Sesión
			.col-md-4

	//	Latest compiled and minified JavaScript
	script(src='//code.jquery.com/jquery-1.11.2.min.js')
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
	script(src='/javascripts/admin.js')
	script(src='/javascripts/helpers.js')
