extends layout

block content
	.container
		br
		.row
			.col-md-2
			.col-md-8
				.page-header
					h2 Servicio de Extensión Agrícola 
						small 
							| Agente 
							= username
			.col-md-2

		.jumbotron
			.row
				.col-md-4
					button#btn_tomar_cuestionario(class='btn btn-lg btn-success btn-block', type='button') Tomar Cuestionario
			br
			.row
				.col-md-4
					button#btn_manejar_ganaderos(class='btn btn-lg btn-success btn-block', type='button') Manejar Ganaderos
				.col-md-4
					button#btn_manejar_localizaciones(class='btn btn-lg btn-success btn-block', type='button') Manejar Localizaciones
			br
			.row
				.col-md-4
					button#btn_manejar_reportes(class='btn btn-lg btn-success btn-block', type='button') Ver Reportes
				.col-md-4
					button#btn_manejar_citas(class='btn btn-lg btn-success btn-block', type='button') Ver Citas Pendientes
		.row
			.col-md-4
			.col-md-4
				button#btn_logout(class='btn btn-lg btn-primary btn-block', type='button') Terminar Sesión
			.col-md-4

	//	Latest compiled and minified JavaScript
	script(src='//code.jquery.com/jquery-1.11.2.min.js')
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
	script(src='/javascripts/agente.js')
	script(src='/javascripts/helpers.js')