extends layout
block css
	link(rel='stylesheet', href='/stylesheets/cuestionario_flowchart.css')

block content
	.container
		br
		.row
			.col-md-2
			.col-md-8
				.jumbotron
					center
						h2 Servicio de Extención Agrícola
						h4 Creador de Cuestionarios
			.col-md-2

		.row
			.col-md-8
				#container_plumbjs
			.col-md-4
				button#btn_add_question(class='btn btn-lg btn-success btn-block', type='button') Agregar Pregunta
				button#btn_add_recommendation(class='btn btn-lg btn-success btn-block', type='button') Agregar Recomendación
				button#btn_submit(class='btn btn-lg btn-success btn-block', type='button') Someter
				button#btn_load(class='btn btn-lg btn-success btn-block', type='button') Load
		br
		.row
			.col-md-1
			.col-md-6
				.panel.panel-success
					.panel-heading
						h3.panel-title Preguntas
					.panel-body
						.list-group(style='overflow:auto; height:300px;')
							table(class='table')
								thead
								tbody#preguntas_list
			
			#info_panel.col-md-4
				.panel.panel-success
					.panel-heading
						h3#info_panel_heading(class='panel-title') Pregunta 1
					.panel-body
						table#usuario_info(class='table')
							tr
								td Pregunta:
								td#pregunta_info_name 
							tr
								td Tipo de Pregunta:
								td#pregunta_info_type
						.panel.panel-info
							.panel-heading Posibles Respuestas
							.panel-body
								table#pregunta_info_responses(class='table')
						button#btn_close_info_panel(class='btn btn-default') Cerrar
			.col-md-1
		.row
			.col-md-2
			.col-md-3
				// TODO: add home glyphicon
				button#btn_home(class='btn btn-sm btn-default btn-block', type='button') Regresar a Página Principal

	//	Latest compiled and minified JavaScript
	script(src='//code.jquery.com/jquery-1.11.2.min.js')
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
	script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js')
	script(src='http://stage-preview.gage.com/Creative/Microsoft/EZCourseDemo/scripts/jquery.jsPlumb-1.3.16-all-min.js')
	script(src='/javascripts/crear_cuestionario.js')
	script(src='/javascripts/helpers.js')