extends layout
block css
	link(rel='stylesheet', href='/stylesheets/cuestionario_flowchart.css')

block content
	.container
		br
		.row
			.col-md-2
			.col-md-8
				.jumbotron
					center
						h2 Servicio de Extensión Agrícola
						h4 Creador de Cuestionarios
			.col-md-2

		.row
			.col-md-12
				#container_plumbjs
		br
		.row
			.col-md-3
				.form-group
					label(for='btn_user_type') Tipo de Elemento:
					.dropdown
						button#btn_item_type(class='btn btn-success dropdown-toggle', type='button', name='btn_user_type', data-toggle='dropdown', aria-expanded='false') 
							span#btn_item_type_text Tipo de Elemento 
							span(class='caret')
						ul#list_question_type(class='dropdown-menu', role='menu')
							li#start_item(role='presentation')
								a(role='menuitem', tabindex='-1', href='#', data-item-type='START') Elemento Inicial
							li#end_item(role='presentation')
								a(role='menuitem', tabindex='-1', href='#', data-item-type='END') Elemento Final
							li
								a(role='menuitem', tabindex='-1', href='#', data-item-type='RECOM') Recomendación
							li.divider
							li.dropdown-header Tipos de Pregunta
							//li
							//	a(role='menuitem', tabindex='-1', href='#', data-item-type='BOOLEAN') Booleana
							li
								a(role='menuitem', tabindex='-1', href='#', data-item-type='MULTI') Selección Multiple
							li
								a(role='menuitem', tabindex='-1', href='#', data-item-type='OPEN') Abierta
							li
								a(role='menuitem', tabindex='-1', href='#', data-item-type='CONDITIONAL') Condicional
				button#btn_add_question(class='btn btn-lg btn-success btn-block', type='button', disabled) Agregar Elemento
				//button#btn_recreate(class='btn btn-lg btn-success btn-block', type='button') Re-Create
				//button#btn_repopulate(class='btn btn-lg btn-success btn-block', type='button', data-id='32') Populate from db
			.col-md-5
				.panel.panel-success
					.panel-heading
						h3.panel-title Elementos creados
					.panel-body
						.list-group(style='overflow:auto; height:300px;')
							table(class='table')
								thead
								tbody#preguntas_list
			
			#info_panel.col-md-4
				.panel.panel-success
					.panel-heading
						h3#info_panel_heading(class='panel-title') Pregunta 1
					.panel-body
						table#pregunta_info(class='table')
							tr
								td Pregunta:
								td#pregunta_info_name 
							tr
								td Tipo de Pregunta:
								td#pregunta_info_type
						#possible_answers(class='panel panel-info')
							.panel-heading 
								| Posibles Respuestas
							.panel-body
								ul#pregunta_info_responses(class='list-group')
						//button#btn_close_info_panel(class='btn btn-default') Cerrar
				
		br
		.row
			.col-md-3
				.panel.panel-warning
					.panel-heading
						h3.panel-title Información Básica
					.panel-body
						form#form_create_flowchart(role='form')
							.form-group
								label(for='flowchart_creator') Creado por:
								span#flowchart_creator(class='form-control', name='flowchart_creator', disabled, data-id=user.user_id)
									= user.username
							.form-group
								label(for='flowchart_name') Nombre de Flujo:
								input#flowchart_name(class='form-control', name='flowchart_name', type='text', placeholder='Nombre')
							.form-group
								label(for='flowchart_version') Versión:
								input#flowchart_version(class='form-control', name='flowchart_version', type='text', placeholder='Version')
						button#btn_submit(class='btn btn-lg btn-success btn-block', type='button') Someter
			.col-md-5
				// TODO: add home glyphicon
				button#btn_home(class='btn btn-sm btn-default btn-block', type='button') Regresar a Página Principal
		.row
			.col-md-3


	//	Latest compiled and minified JavaScript
	script(src='//code.jquery.com/jquery-1.11.2.min.js')
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
	script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js')
	script(src='http://stage-preview.gage.com/Creative/Microsoft/EZCourseDemo/scripts/jquery.jsPlumb-1.3.16-all-min.js')
	//script(src='/javascripts/jquery-ui.js')
	//script(src='http://jsplumb.googlecode.com/files/jquery.jsPlumb-1.3.2-all-min.js')
	script(src='/javascripts/crear_cuestionario.js')
	script(src='/javascripts/helpers.js')