extends layout

block content
	.container
		.row
			.col-md-4
				.jumbotron
					form(class=form-signin)
						center
							h2.form-signin-heading= title
						br
						label(for=inputEmail) Nombre de Usuario
						input(class='form-control',	id='inputEmail',	type='email',	placeholder='Nombre de Usuario',	required='required',	autofocus='autofocus')
						label(for=inputPassword) Contrase침a
						input(class='form-control',	id='inputPassword',	type='password',	placeholder='Contrase침a', required='required')
						br
						button(class='btn btn-lg btn-success btn-block',	type='submit') Iniciar Sesi칩n
						a(href='https://chp.upr.edu/index.php?action=resetbyquestions') Olvide Mi Contrase침a
	script(src='/javascripts/login.js')