extends layout

block content
	.container
		.row
			.col-md-4
			.col-md-4
				.jumbotron
					center
						h2.form-signin-heading= title
					br
					form#form-login(role='form')
						label(for='input_username') Nombre de Usuario
						input(class='form-control',	id='input_username',	name='input_username',	type='email',	placeholder='Nombre de Usuario',	required='required',	autofocus='autofocus')
						label(for='input_password') Contrase침a
						input(class='form-control',	id='input_password',	name='input_password',	type='password',	placeholder='Contrase침a', required='required')
						br
						button#btn-login(class='btn btn-lg btn-success btn-block',	type='button') Iniciar Sesi칩n
						a(href='https://chp.upr.edu/index.php?action=resetbyquestions') Olvide Mi Contrase침a

	//	Latest compiled and minified JavaScript
	script(src='//code.jquery.com/jquery-1.11.2.min.js')
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
	script(src='/javascripts/login.js')
	script(src='/javascripts/helpers.js')
