extends layout

block content
	.container
		br
		.row
			.col-md-2
			.col-md-8
				.jumbotron
					center
						h2 Servicio de Extención Agrícola
						h4 Manejar Localizaciones
			.col-md-2

		.row
			.col-md-1
			.col-md-2
			.col-md-4
				.input-group
					input#search_bar(class='form-control', type='text', placeholder='Buscar')
					span(class='input-group-btn')
						button#btn_search(class='btn btn-default', type='button')
							i(class='glyphicon glyphicon-search')
			.col-md-4
			.col-md-1

		.row
			.col-md-1
			.col-md-6
				.panel.panel-success
					.panel-heading Localizaciones
					.panel-body
						.list-group(style='overflow:auto; height:300px;')
							table#localizaciones_list(class='table')

			#edit_panel.col-md-4(style="display:none")
				.jumbotron
					h4#heading_create Crear Localizaciones
					h4#heading_edit Editar Localizaciones
					form(role='form')
						.form-group
							label(for='localizacion_name') Nombre de Localizacion:
							input#localizacion_name(class='form-control', name='localizacion_name', type='text', placeholder='Nombre')
						.form-group
							label(for='localizacion_license') Numero de Licencia:
							input#localizacion_license(class='form-control', name='localizacion_license', type='text', placeholder='# de licencia')
						.form-group
							label(for='localizacion_address_line1') Dirección Línea 1:
							input#localizacion_address_line1(class='form-control', name='localizacion_address_line1', type='text', placeholder='Línea 1')
						.form-group
							label(for='localizacion_address_line2') Dirección Línea 2:
							input#localizacion_address_line2(class='form-control', name='localizacion_address_line2', type='text', placeholder='Línea 2')
						.form-group
							label(for='localizacion_address_city') Ciudad:
							input#localizacion_address_city(class='form-control', name='localizacion_address_city', type='text', placeholder='Ciudad')
						.form-group
							label(for='localizacion_address_zipcode') Código Postal:
							input#localizacion_address_zipcode(class='form-control', name='localizacion_address_zipcode', type='text', placeholder='Código Postal')
					.btn-group(role='group', aria-label='info panel buttons')
						button#btn_close_edit_panel(class='btn btn-default') Cerrar
						button#btn_edit(class='btn btn-default btn-success', type='button') Guardar
						button#btn_submit(class='btn btn-default btn-success', type='button') Someter


			#info_panel.col-md-4
				.panel.panel-success
					.panel-heading
						h3#info_panel_heading(class='panel-title') Localización 1
						h3#edit_associates_heading(class='panel-title') Associates
					.panel-body
						table#localizacion_info(class='table')
							tr
								td Nombre:
								td#localizacion_info_name Localización 1
							tr
								td Numero de Licencia:
								td#localizacion_info_license # de licencia
							tr
								td Dirección:
								td#localizacion_info_address
							tr
								td Ciudad:
								td#localizacion_info_ciudad
							tr
								td ZipCode:
								td#localizacion_info_zipcode
						.panel.panel-info
							.panel-heading Ganaderos Asociados
							.panel-body
								table#localizacion_ganaderos(class='table')
									tr
										td 
											strong Owner: 
										td#owner 
									tr
										td 
											strong Manager:
										td#manager 
						.panel.panel-info
							.panel-heading Agentes Asignados
							.panel-body
								table#localizacion_agentes(class='table')
						button#btn_close_info_panel(class='btn btn-default') Cerrar

			#add_associates_panel.col-md-4(style="display:none")
				.jumbotron
					h4#heading_create Editar Ganaderos/Agente Asociados		
					.panel.panel-info
						.panel-heading Ganaderos Asociados
						.panel-body
							table#associated_ganaderos(class='table')
								tr
									td 
										strong Owner: 
									td#add_associates_owner 
										a(class='btn_add_associate_ganadero btn btn-sm btn-success', data-original-title='', data-toggle='tooltip', type='button', href='#') 
											i(class='glyphicon glyphicon-plus')
								tr
									td 
										strong Manager:
									td#add_associates_manager 
										a(class='btn_add_associate_ganadero btn btn-sm btn-success', data-original-title='', data-toggle='tooltip', type='button', href='#') 
											i(class='glyphicon glyphicon-plus')
					.panel.panel-info
						.panel-heading Agentes Asignados
						.panel-body
							table#associated_agentes(class='table')
								tr
									td 
										strong Agregar Nuevo
									td
										a(class='btn_add_associate_agente btn btn-sm btn-success', data-original-title='', data-toggle='tooltip', type='button', href='#') 
											i(class='glyphicon glyphicon-plus')
					
					#add_ganaderos_dropdown_panel.panel.panel-info(style="display:none")
						.panel-heading 
							h4 Ganaderos Asociados
						.panel-body
							form(role='form')
								.form-group
									label(for='btn_associated_ganadero') Ganaderos:
									.dropdown
										.btn-group
											button#btn_associated_ganadero(class='btn btn-default dropdown-toggle', type='button', name='btn_associated_ganadero', data-toggle='dropdown', aria-expanded='false') 
												span#btn_associated_ganadero_text Lista de Ganaderos 
												span(class='caret')
											ul#list_associated_ganadero(class='dropdown-menu', role='menu')

								button#btn_submit(class='btn btn-default btn-success', type='button') Someter

					#add_agente_dropdown_panel.panel.panel-info(style="display:none")
						.panel-heading 
							h4 Agentes Asociados
						.panel-body
							form(role='form')
								.form-group
									label(for='btn_associated_agente') Agentes:
									.dropdown
										.btn-group
											button#btn_associated_agente(class='btn btn-default dropdown-toggle', type='button', name='btn_associated_agente', data-toggle='dropdown', aria-expanded='false') 
												span#btn_associated_agente_text Lista de Agentes 
												span(class='caret')
											ul#list_associated_agente(class='dropdown-menu', role='menu')
												li
													a(role='menuitem', tabindex='-1', href='#', data-usario-type='admin') Admin

								button#btn_submit(class='btn btn-default btn-success', type='button') Someter

					button#btn_close_add_panel(class='btn btn-default') Cerrar
			.col-md-1

		.row
			.col-md-2
			.col-md-2
				button#btn_add_localizacion(class='btn btn-sm btn-default btn-block', type='button') Agregar Localización
			.col-md-2
				// TODO: add home glyphicon
				button#btn_home(class='btn btn-sm btn-default btn-block', type='button') Regresar a Página Principal

	//	Latest compiled and minified JavaScript
	script(src='//code.jquery.com/jquery-1.11.2.min.js')
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
	script(src='/javascripts/manejar_localizaciones.js')
	script(src='/javascripts/helpers.js')