extends layout

block content
	.container
		br
		.row
			.col-md-2
			.col-md-8
				.jumbotron
					center
						h2 Servicio de Extencion Agricola
						h4 Manejar Dispositivos
			.col-md-2

		.row
			.col-md-1
			.col-md-2
			.col-md-4
				.input-group
					input#search_bar(class='form-control', type='text', placeholder='Buscar')
					span(class='input-group-btn')
						button#btn_search(class='btn btn-default', type='button')
							i(class='glyphicon glyphicon-search')
			.col-md-4
			.col-md-1

		.row
			.col-md-1
			.col-md-6
				.panel.panel-success
					.panel-heading Dispositivos
					.panel-body
						.list-group(style='overflow:auto; height:300px;')
							table(class='table')
								thead
									tr
										th
											center Device Name
										th
											center Last Sync Date
								tbody#dispositivos_list

			#edit_panel.col-md-4(style="display:none")
				.jumbotron
					h4#heading_create Agregar Dispositivo
					h4#heading_edit Editar Dispositivo
					form(role='form')
						.form-group
							label(for='dispositivo_name') Nombre de Ganadero:
							input#ganadero_name(class='form-control', name='ganadero_name', type='text', placeholder='Nombre')
						.form-group
							label(for='dispositivo_id_num') Numero de Identificación:
							input#dispositivo_id_num(class='form-control', name='dispositivo_id_num', type='text', placeholder='# de identificación')
						.form-group
							label(for='dispositivo_usuario') Usuario Asignado:
							
		.row
			.col-md-2
			.col-md-2
				button#btn_add_dispositivo(class='btn btn-sm btn-default btn-block', type='button') Agregar Dispositivo
			.col-md-2
				// TODO: add home glyphicon
				button#btn_home(class='btn btn-sm btn-default btn-block', type='button') Regresar a Página Principal

	//	Latest compiled and minified JavaScript
	script(src='//code.jquery.com/jquery-1.11.2.min.js')
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
	script(src='/javascripts/manejar_dispositivos.js')
	script(src='/javascripts/helpers.js')