extends layout

block content
	.container
		br
		.row
			.col-md-2
			.col-md-8
				.jumbotron
					center
						h2 Servicio de Extensión Agrícola
						h4 Manejar Dispositivos
			.col-md-2

		.row
			.col-md-1
			.col-md-2
			.col-md-4
				.input-group
					input#search_bar(class='form-control', type='text', placeholder='Buscar')
					span(class='input-group-btn')
						button#btn_search(class='btn btn-default', type='button')
							i(class='glyphicon glyphicon-search')
			.col-md-4
			.col-md-1

		.row
			.col-md-1
			.col-md-6
				.panel.panel-success
					.panel-heading Dispositivos
					.panel-body
						.list-group(style='overflow:auto; height:300px;')
							table(class='table')
								thead
									tr
										th
											center Dispositivo
										th
											center Última syncronicazión
								tbody#dispositivos_list

			#edit_panel.col-md-4(style="display:none")
				.jumbotron
					h4#heading_create Agregar Dispositivo
					h4#heading_edit Editar Dispositivo
					form(role='form')
						.form-group
							label(for='dispositivo_name') Dispositivo:
							input#dispositivo_name(class='form-control', name='dispositivo_name', type='text', placeholder='Nombre')
						.form-group
							label(for='dispositivo_id_num') Numero de Identificación:
							input#dispositivo_id_num(class='form-control', name='dispositivo_id_num', type='text', placeholder='# de identificación')
						.form-group
							label(for='dispositivo_usuario') Assignado a:
							input#dispositivo_usuario(class='form-control', name='dispositivo_id_num', type='text', placeholder='# de identificación')
						.form-group
							label(for='btn_dropdown_agentes') Agentes:
							.dropdown
								.btn-group
									button#btn_dropdown_agentes(class='btn btn-default dropdown-toggle', type='button', name='btn_dropdown_agentes', data-toggle='dropdown', aria-expanded='false') 
										span#btn_dropdown_agentes_text Lista de Agentes 
										span(class='caret')
									ul#list_dropdown_agentes(class='dropdown-menu', role='menu')
					.btn-group(role='group', aria-label='info panel buttons')
						button#btn_close_edit_panel(class='btn btn-default') Cerrar
						button#btn_edit(class='btn btn-default btn-success', type='button') Guardar
						button#btn_submit(class='btn btn-default btn-success', type='button') Someter
		
			#info_panel.col-md-4
				.panel.panel-success
					.panel-heading
						h3#info_panel_heading(class='panel-title') Dispositivo 1
					.panel-body
						table#dispositivo_info(class='table')
							tr
								td Nombre:
								td#dispositivo_info_name 
							tr
								td Numero de Identificación:
								td#dispositivo_info_id_num
							tr
								td Usuario Asignado:
								td#dispositivo_info_usuario
							tr 
								td Última Sincronicazión: 
								td#dispositivo_info_last_sync
						.btn-group(role='group', aria-label='info panel buttons')
							button#btn_close_info_panel(class='btn btn-default') Cerrar


								
		.row
			.col-md-2
			.col-md-2
				button#btn_add_dispositivo(class='btn btn-sm btn-default btn-block', type='button') Agregar Dispositivo
			.col-md-2
				// TODO: add home glyphicon
				button#btn_home(class='btn btn-sm btn-default btn-block', type='button') Regresar a Página Principal

	//	Latest compiled and minified JavaScript
	script(src='//code.jquery.com/jquery-1.11.2.min.js')
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
	script(src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js')
	script(src='/javascripts/manejar_dispositivos.js')
	script(src='/javascripts/helpers.js')
	script(src='/javascripts/typeahead.bundle.js')