extends layout
block css
	link(rel='stylesheet', href='/stylesheets/style.css')

block content
	.container
		br
		.row
			.col-md-2
			.col-md-8
				.jumbotron
					center
						h2 Servicio de Extensión Agrícola
						h4 Manejar Dispositivos
			.col-md-2
		
		.row
			.col-md-1
			.col-md-6
				<small> *Buscar dispositivos por nombre, # de identificación o usuario asignado</small>
				input#search_bar(class='form-control typeahead', type='text', placeholder='Buscar')
			.col-md-4
			.col-md-1
		br

		.row
			.col-md-1
			.col-md-6
				.panel.panel-success
					.panel-heading(class='panel-title') Dispositivos
					.panel-body
						.list-group(style='overflow:auto; height:550px;')
							table(class='table')
								thead
								tbody#dispositivos_list(data-dispositivos=dispositivos)

			#edit_panel.col-md-4(style="display:none")
				.panel.panel-success
					.panel-heading(class='panel-title')
						h4#heading_create Agregar Dispositivo
						h4#heading_edit Editar Dispositivo
					.panel-body
						form#form_manage_dispositivo(role='form')
							.form-group
								label(for='dispositivo_name') Dispositivo:
								input#dispositivo_name(class='form-control', name='dispositivo_name', type='text', placeholder='Nombre')
							.form-group
								label(for='dispositivo_id_num') Número de Serie:
								input#dispositivo_id_num(class='form-control', name='dispositivo_id_num', type='text', placeholder='# de identificación')
							.form-group
								input#dispositivo_usuario(class='form-control', name='dispositivo_id_usuario', type='text', style='display:none')
							.form-group
								label(for='btn_dropdown_agentes') Usuarios:
								.dropdown
									.btn-group
										button#btn_dropdown_agentes(class='btn btn-default dropdown-toggle', type='button', data-toggle='dropdown', aria-expanded='false') 
											span#btn_dropdown_agentes_text Lista de Usuarios 
											span(class='caret')
										ul#list_dropdown_agentes(class='dropdown-menu', role='menu')
											each user in usuarios
												li
													a(role='menuitem', tabindex='-1', href='#', data-id=user.user_id)
														= user.username
						button#btn_edit(class='btn btn-default btn-success btn-block', type='button') Guardar
						button#btn_submit(class='btn btn-default btn-success btn-block', type='button') Someter
						button#btn_close_edit_panel(class='btn btn-default btn-block') Cerrar
		
			#info_panel.col-md-4
				.panel.panel-success
					.panel-heading
						h3#info_panel_heading(class='panel-title')
					.panel-body
						table#dispositivo_info(class='table table-nowrap')
							thead
							tbody(data-dispositivos=dispositivos)
								tr
									td Nombre:
									td#dispositivo_info_name 
								tr
									td 
										| Número de Serie:
									td#dispositivo_info_id_num
								tr
									td 
										| Usuario Asignado:
									td#dispositivo_info_usuario
								tr 
									td 
										| Última Sincronicazión: 
									td#dispositivo_info_last_sync
						button#btn_edit_dispositivo(class='btn btn-success btn-block', type='button') Editar
						a#btn_delete(class='btn btn-danger btn-block', data-toggle='tooltip')
							i(class='glyphicon glyphicon-trash')
						//.btn-group(role='group', aria-label='info panel buttons')
						//	button#btn_close_info_panel(class='btn btn-default') //Cerrar
								
		.row
			.col-md-1
			.col-md-3
				button#btn_add_dispositivo(class='btn btn-sm btn-default btn-block', type='button') Agregar Dispositivo
			.col-md-3
				// TODO: add home glyphicon
				button#btn_home(class='btn btn-sm btn-default btn-block', type='button') Regresar a Página Principal

	//	Latest compiled and minified JavaScript
	script(src='//code.jquery.com/jquery-1.11.2.min.js')
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
	script(src='/javascripts/typeahead.bundle.min.js')
	script(src='/javascripts/manejar_dispositivos.js')
	script(src='/javascripts/helpers.js')