extends layout

block content
	.container
		br
		.row
			.col-md-2
			.col-md-8
				.jumbotron
					center
						h2 Servicio de Extencion Agricola
						h4 Manejar Ganaderos
			.col-md-2

		.row
			.col-md-1
			.col-md-2
				.dropdown
					button#dropdown_menu_ganaderos(class='btn btn-default dropdown-toggle', type='button', data-toggle='dropdown', aria-expanded='true') Ordenar por
						span(class='caret')
					ul(class='dropdown-menu', role='menu', aria-labelledby='dropdown_menu_ganaderos')
						li(role='presentation')
							a(role='menuitem', tabindex='-1', href='#') Alfabético
							a(role='menuitem', tabindex='-1', href='#') Localización
							a(role='menuitem', tabindex='-1', href='#') Agente
			.col-md-4
				input#search_bar(class='form-control', type='text', placeholder='Buscar')
			.col-md-4
			.col-md-1

		.row
			.col-md-1
			.col-md-6
				ul(class='list-group', style='overflow:auto; height:400px;')
					.panel.panel-success
						.panel-heading Ganaderos
						table(class='table')
							tr
								td Ganadero 1
								td
									button(class='btn_edit_ganadero btn btn-sm btn-success btn-block', type='button', data-id='1') Editar
								td
									a(class='btn_delete_ganadero btn btn-sm btn-success', data-original-title='', data-toggle='tooltip', type='button', href='#')
										i(class='glyphicon glyphicon-trash')
							tr
								td Ganadero 1
								td
									button(class='btn_edit_ganadero btn btn-sm btn-success btn-block', type='button', data-id='2') Editar
								td
									a(class='btn_delete_ganadero btn btn-sm btn-success', data-original-title='', data-toggle='tooltip', type='button', href='#')
										i(class='glyphicon glyphicon-trash')
			#info_panel.col-md-4
				.jumbotron
					h4 Editar o Crear Ganaderos
					form(role='form')
						.form-group
							label(for='ganadero_name') Nombre de Ganadero:
							input#ganadero_name(class='form-control', name='ganadero_name', type='text', placeholder='Nombre')
						.form-group
							label(for='ganadero_license') Numero de Licencia:
							input#ganadero_license(class='form-control', name='ganadero_licence', type='text', placeholder='# de licencia')
						.form-group
							label(for='ganadero_contact') Información de Contacto
							textarea#ganadero_contact(class='form-control', name='ganadero_contact', rows='3', placeholder='Información de Contacto')
					.btn-group(role='group', aria-label='info panel buttons')
						button#btn_close_info_panel(class='btn btn-default') Cerrar
						button#btn_edit(class='btn btn-default btn-success', type='button') Guardar
						button#btn_submit(class='btn btn-default btn-success', type='button') Someter
			.col-md-1
		
		.row
			.col-md-2
			.col-md-2
				button#btn_add_ganadero(class='btn btn-sm btn-default btn-block', type='button') Agregar Ganadero
			.col-md-2
				// TODO: add home glyphicon
				button#btn_home(class='btn btn-sm btn-default btn-block', type='button') Regresar a Página Principal

	//	Latest compiled and minified JavaScript
	script(src='//code.jquery.com/jquery-1.11.2.min.js')
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
	script(src='/javascripts/manejar_ganaderos.js')
	script(src='/javascripts/helpers.js')