extends layout

block content
	.container
		br
		.row
			.col-md-2
			.col-md-8
				.jumbotron#info_current_user(data-user=current_user)
					center
						h2 Servicio de Extensión Agricola
						h3#title
							if locals.reporte.name
								= reporte.name
							else 
								| Reporte sin título (TODO: click para asignarle nombre)
			.col-md-2

		.row
			.col-md-6
				center
					h2 Entrevista Contestada
				#answered_survey(class='jumbotron', data-survey=survey)
					if locals.survey
						ol
							each item in survey
								li
									strong
										= item.question
									br
									em
										= item.answer
					else
						center
							button(class='btn btn-sm btn-success') Continuar Entrevista
			.col-md-6
				center
					h2 Información General
				.jumbotron#info_report(data-report=reporte)
					p Reporte ID: 
						= reporte.report_id
					p Usuario: 
						= reporte.report_creator
					p Fecha: 
						= reporte.report_date
					p Localización: 
						= reporte.location_name
					p Tipo de Encuesta: 
						= reporte.survey_type
					p Nombre de Encuesta: 
						= reporte.survey_name
						|  
						= reporte.survey_version
				// For use in phase 3
				center
					h2 Micelania
				.jumbotron
					.row
						.col-xs-6.col-md-3
							a(class='thumbnail', href='#')
								img(src='', alt='img1')
					a(class='btn btn-sm btn-success', type='button', data-toggle='tooltip')
						i(class='glyphicon glyphicon-plus')
				// For use in phase 3
				div(style="display:none")
				center
					h2 Notas
				.jumbotron
					p#notas
						= reporte.note
					a(class='btn btn-sm btn-success', id='btn_notes' type='button', data-toggle='tooltip')
						i(class='glyphicon glyphicon-edit')
					button#btn_submit_notes(class='btn btn-default btn-success', type='button') Someter


		.row
			.col-md-6
				center
					h2 Recomendaciones
				.jumbotron
					p
						each item in survey 
							if item.type == 'RECOM'
								= item.question
			.col-md-6
				center
					h2 Fecha de Seguimiento
				.jumbotron
					p 
						strong Fecha: 
						= reporte.appointment_date
					p
						strong Hora: 
						= reporte.appointment_time
					p
						strong Propósito: 
						= reporte.appointment_purpose
					a(class='btn btn-sm btn-success', id='btn_appointment' type='button', data-toggle='tooltip')
						i(class='glyphicon glyphicon-edit')
					button#btn_submit_appointment(class='btn btn-default btn-success', type='button') Someter

		.row
			.col-md-2
			.col-md-4
				button#btn_reportes(class='btn btn-sm btn-default btn-block', type='button') Regresar a Reportes
			.col-md-4
				// TODO: add home glyphicon
				button#btn_home(class='btn btn-sm btn-default btn-block', type='button') Regresar a Página Principal
			.col-md-2

	//	Latest compiled and minified JavaScript
	script(src='//code.jquery.com/jquery-1.11.2.min.js')
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
	script(src='/javascripts/reporte.js')
	script(src='/javascripts/helpers.js')