	.item_question {
		position: absolute;
		border: 1px solid black;
		background-color: lime;

	}

	.item_recom {
		position: absolute;
		border: 1px solid black;
		background-color: yellow;
	}

	.item_end_point{
		position: absolute;
		border: 1px solid black;
		background-color: aqua;
	}
	
	#container_plumbjs {
		position:relative;
		border: 1px solid gray;
		width: max-content;
		height: 500px;
		
		overflow:auto;
	}

	.title_question {
		padding: 10px;
		cursor: move;

	}

	.connect_question {
		width: 100%;
		height: 20px;
		background-color: white;
		cursor: pointer;
	}

	.title_rec {
		padding: 10px;
		cursor: move;
	}

	.connect_rec {
		width: 100%;
		height: 20px;
		background-color: white;
		cursor: pointer;
	}

	.item_del{
		position: absolute;
		border: 1px solid black;
		background-color: red;
	}

	.title_del {
		padding: 10px;
		cursor: move;
	}

	.connect_del {
		width: 100%;
		height: 20px;
		background-color: white;
		cursor: pointer;
	}