#container_jsplumb {
  border: 1px solid gray;
  height: 500px;
}

.item {
  position: absolute;
  border: 1px solid black;
  background-color: #ddddff;
  width: 100px;
  height: 100px;
}
   
#state1 {
  position: absolute;
  left: 100px;
  top: 100px;
}
   
#state2 {
  position: absolute;
  left: 250px;
  top: 100px;
}
   
#state3 {
  position: absolute;
  left: 100px;
  top: 250px;
}

.title {
  padding: 10px;
  cursor: move;
}
 
.connect {
  width: 100%;
  height: 20px;
  background-color: white;
  cursor: pointer;
}